---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import ButtonGroup from "../../components/ButtonGroup.astro";
import slugify from "../../helpers/slugify";
export const getStaticPaths = async () => {
  const allPeople = await getCollection("people");
  return allPeople.map((item) => ({
    params: { slug: item.id },
  }));
};
const slug = Astro.params.slug;
const entry = await getEntry("people", slug);
if (!entry) {
  throw new Error(`Person not found for slug: ${slug}`);
}
---

<Layout>
  <div class="bio-container">
    <div class="bio-image-wrapper">
      <Image
        class="bio-image"
        src={entry.data.headshot}
        alt={entry.data.name}
      />
    </div>
    <div class="bio-content-wrapper">
      <div class="bio-text-wrapper">
        <h1 class="star-after">{entry.data.name}</h1>
        <div class="bio-info-group">
          <p>
            <span class="visually-hidden">Pronouns:</span>
            <span class="star-before">{entry.data.pronouns}</span>
          </p>
          <p>
            <span class="visually-hidden">Hometown:</span>
            <span class="star-before">{entry.data.location}</span>
          </p>
        </div>

        <p class="bio-text">{entry.data.bio}</p>
      </div>

      <ButtonGroup>
        <Button href={"/projects/" + slugify(entry.data.title)} color="accent-a"
          ><span class="star-after">Thesis Project</span></Button
        >
        <Button href={entry.data.portfolio} color="accent-c"
          ><span class="star-after">Portfolio Website</span></Button
        >
      </ButtonGroup>
    </div>
  </div>
</Layout>

<style>
  .bio-container {
    display: flex;
    flex-direction: row;
    max-width: var(--size-page-width);
    margin: 0 var(--size-page-margin);
    gap: var(--size-page-margin);
  }

  .bio-image-wrapper {
    max-width: 450px;
  }
  .bio-text {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-left: 2rem;
    margin-top: 2rem;
  }
  .bio-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-page-margin);
    padding: 2rem 0;
  }
  .bio-info-group {
    line-height: 1;
    font-size: 1.25rem;
    margin-top: 2rem;
  }
</style>
