---
import { getCollection } from "astro:content";
import slugify from "../helpers/slugify";
import { Image } from "astro:assets";
const allProjects = await getCollection("people");
---

<div class="project-grid">
  {
    allProjects.map((project) => {
      console.log(project);
      const projectSlug = slugify(project.data.title);
      const projectUrl = `/projects/${projectSlug}/`;
      return (
        <article class="project-card">
          <Image
            widths={[600]}
            class="project-image"
            src={project.data.thumbnail.src}
            alt=""
          />
          <a class="project-title" href={projectUrl}>
            {project.data.title}
          </a>
          <p class="person-name">{project.data.name}</p>
        </article>
      );
    })
  }
</div>

<style>
  .project-grid {
    max-width: var(--size-page-width);
    width: calc(100% - 2 * var(--size-page-margin));
    display: grid;
    align-items: top;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: var(--size-page-margin) 0;
  }
  @media screen and (min-width: 450px) {
    .project-grid {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }

  .project-card {
    /* max-width: 600px; */
    position: relative;
  }
  .project-card:hover,
  .project-card:focus-within {
    /* background-color: var(--color-background); */
    color: var(--color-accent-a);
    /* outline: 1px solid var(--color-accent-a); */
  }

  .project-image {
    width: 100%;
    height: auto;
    aspect-ratio: 192 / 126;
    object-fit: cover;
  }
  .person-name {
    font-size: 1.5rem;
    font-family: "Sligoil", serif;
  }
  .project-title {
    font-family: "Compagnon", monospace;
    font-size: 1.25rem;
    text-decoration: none;
    text-wrap: balance;
  }
  .project-title::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s;
  }

  .project-title:focus-visible::before {
    outline: 2px solid var(--color-accent-a);
    outline-offset: 2px;
  }

  .project-title:focus,
  .project-title:focus-visible {
    outline: none;
    box-shadow: none;
  }
</style>
