---
import { getCollection } from "astro:content";
import slugify from "../helpers/slugify";
import { Image } from "astro:assets";
const allProjects = await getCollection("people");
---

<div class="project-grid">
  {
    allProjects.map((project) => {
      console.log(project);
      const projectSlug = slugify(project.data.title);
      const projectUrl = `/projects/${projectSlug}/`;
      return (
        <article class="project-card">
          <Image
            widths={[600]}
            class="project-image"
            src={project.data.thumbnail.src}
            alt=""
          />
          <a href={projectUrl}>{project.data.title}</a>
          <p>{project.data.name}</p>
        </article>
      );
    })
  }
</div>

<style>
  .project-grid {
    max-width: var(--size-page-width);
    display: grid;
    align-items: top;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
  }
  .project-card {
    max-width: 600px;
  }
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
