---
import { getCollection, getEntry, render } from "astro:content";
import slugify from "../../helpers/slugify";
import Gallery from "../../components/Gallery.astro";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
export const getStaticPaths = async () => {
  const allPeople = await getCollection("people");
  return allPeople.map((item) => ({
    params: { slug: slugify(item.data.title) },
  }));
};
const projectSlug = Astro.params.slug;
const collection = await getCollection("people");
const entry = collection.find(
  (item) => slugify(item.data.title) === projectSlug
);
if (!entry) {
  throw new Error(`Project not found for slug: ${projectSlug}`);
}
const { Content } = await render(entry);
const names = entry.data.name.split(" ");
const lastName = names.pop();
const firstName = names.join(" ");
---

<Layout pageTitle={entry.data.title}>
  <div class="project-main-wrapper">
    <div class="project-main">
      <Image alt={entry.data.thumbnail.alt} src={entry.data.thumbnail.src} />
      <h1 class="project-title">{entry.data.title}</h1>
      <div class="project-content">
        <Content />
      </div>

      <Gallery images={entry.data.images} />
    </div>
  </div>
  <div class="project-sidebar">
    <Image src={entry.data.headshot} alt={entry.data.name} />
    <h2 class="person-name">
      {firstName}
      <span class="star-after">{lastName}</span>
    </h2>
    <div class="button-group">
      <Button color="accent-c" href={`/people/${entry.id}`}
        >About <span class="star-after">Me</span></Button
      >
      {
        entry.data.portfolio && (
          <Button href={entry.data.portfolio} color="accent-b">
            Portfolio <span class="star-after">Website</span>
          </Button>
        )
      }
    </div>
  </div>
</Layout>

<style>
  .project-sidebar {
    padding: 2rem;
  }
  .person-name {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Sligoil", serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .project-content {
    font-family: sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }
  .project-title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-weight: 400;
    font-family: "Sligoil", serif;
  }

  @media screen and (min-width: 768px) {
    .project-title {
      font-size: 3rem;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
    .project-content {
      max-width: 45rem;
      padding-left: 8rem;
      margin-bottom: 4rem;
    }
    .project-sidebar {
      width: 300px;
      position: fixed;
      left: 0;
      top: 0;
      padding: 1rem;
    }
    .project-main-wrapper {
      padding-left: 300px;
    }
    .project-main {
      max-width: 1000px;
    }
  }
</style>
